@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
  --color-mytext: #1F1F1F;
}

/* * {
  font-family: "Bai Jamjuree", sans-serif;
  /* font-weight: 500; */
  /* font-style: normal; */
/* } */


a.active{
  @apply bg-primary  p-2 rounded-full px-6
}