@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #B8E55C;
  --color-secondary: #03373D;
  --color-mytext: #1F1F1F;
  --color-thried: #0B0B0B;
}

* {
  font-family: "Bai Jamjuree", sans-serif;


 }


a.active{
  @apply   border-b  text-lime-600
}

/* Hover effect সম্পূর্ণ বন্ধ করার জন্য */
.custom-carousel .slider {
  overflow: visible !important;
}

.custom-carousel .slide {
  cursor: default !important;
  opacity: 1 !important;
  transition: none !important;
}

.custom-carousel:hover .slide {
  transform: none !important;
  opacity: 1 !important;
}

.custom-carousel .slider-wrapper {
  transition: none !important;
  transform: none !important;
}

.custom-carousel .slider-wrapper:hover {
  transform: none !important;
}

/* Arrow buttons সবসময় দেখাতে চাইলে */
.custom-carousel .control-arrow {
  opacity: 0.4 !important;
}

.custom-carousel:hover .control-arrow {
  opacity: 1 !important;
}